body{
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
    padding: 20px;
}
h1{
    color: #333;
    text-align: center;
}
form{
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}
input,textarea,select,label{
    width: 100%;
    max-width: 100%;
    font-size: 1 rem;
    margin-bottom: 15px;
}
input [type="radio"],input [type="checkbox"]{
    width: auto;
}
input[type="submit"]{
    background-color: green;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}
input[type="submit"]:hover{
    background-color: green;
}