body{
    font-family: sans-serif;
    padding: 20px;
    background: #f0f0f0;
    text-align: center;
}
h2{
    margin-bottom: 30px;
}
.fixed,.maxed{
    margin: 20px auto;
    padding: 20px;
    color: white;
    text-align: left;
}
.fixed{
    width: 600px;
    background: tomato;
}
.maxed{
    max-width: 600px;
    background: steelblue;
}